@model Portfolio
@{
    ViewData["Title"] = "UpdatePortfolio";
    Layout = "~/Views/Layout/Index.cshtml";
}


<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Değişim Güncelleme Sayfası</div>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            <input type="hidden" asp-for="PortfolioId" />

                            <label> Çalışılan Pozisyon</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />

                            <label>Alt Başlık </label>
                            <input type="text" asp-for="SubTitle" class="form-control" />
                            <br />

                            <label>Fotoğraf Url</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <br />

                            <label>Url</label>
                            <input type="text" asp-for="Url" class="form-control" />
                            <br />

                            <label> Açıklama</label>
                            <textarea rows="4" class="form-control" asp-for="Description"> </textarea>
                            <br />

                            <button class="btn btn-warning">Değişimi Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


