@model Sponsor
@{
    ViewData["Title"] = "CreateSponsor";
    Layout = "~/Views/Layout/Index.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Sponsorlar</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Sponsor Ekleme Sayfası</div>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            <label> Sponsor Adı</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label> Sponsor Resmi</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <br />
                            <button class="btn btn-primary">Sponsor Ekle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>